body {
    background-image: linear-gradient(-45deg, rgb(235, 51, 73), rgb(244, 92, 67));
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}
header {
    color: white;
    text-align: center;
}
section {
    box-shadow: 5px 5px 20px rgba(31, 31, 31, 0.267);
    background-color: white;
    border-radius: 10px;
    height: 380pt;
    width: 400pt;
    margin: auto;
}
div#previewer {
    background-image: linear-gradient(50deg, rgb(33, 147, 176), rgb(109, 213, 237));
    height: 400px;
    width: 400px;
    margin: auto;
}
footer {  /* Credits */
    color: white;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
}
a {
    color: white;
}
